PLATEGA_ENABLED=1
PLATEGA_BASE_URL=https://app.platega.io
PLATEGA_MERCHANT_ID=
PLATEGA_API_KEY=
PLATEGA_PAYMENT_METHOD=2

PLATEGA_WEBHOOK_ENABLED=1
PLATEGA_WEBHOOK_HOST=0.0.0.0
PLATEGA_WEBHOOK_PORT=8082
