[Unit]
Description=Yadreno VPN Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
# Путь по умолчанию для текущего репозитория
WorkingDirectory=/root/my-private
ExecStart=/usr/bin/python3 /root/my-private/main.py
Environment=PYTHONUNBUFFERED=1
Restart=always
RestartSec=5
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
